<div class="page-personal-box grid">
    <div class="personal__user-box">
        <div class="personal__user-profile">
            <img src="../../../wwwroot/images/girl.jpg" alt="" class="personal__user-profile-img"></img>
            <div class="personal__user-profile-name">T2DEV</div>
        </div>
    </div>
    <div class="personal__narbar">
        <div class="personal__narbar-box">
            <div class="personal__narbar-box-item">overview</div>
            <div class="personal__narbar-box-item">the song</div>
            <div class="personal__narbar-box-item">playlist</div>
            <div class="personal__narbar-box-item">mv</div>
            <div class="personal__narbar-box-item personal__narbar-box-item-more"><i class="far fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="personal__content">
        <div class="personal__content-item">
            <div class="personnal__content-title"><span class="personnal__content-title-text">bài hát</span></div>
            <div class="personal__songs">
                <div class="personal__songs-animate">

                </div>
                <div class="personal__songs-list">
                    <div class="personal__songs-list-item row no-gutters no-wrap">
                        <img src="../../../wwwroot/images/girl.jpg" alt="" class="personal__songs-img">
                        <div class="personal__songs-description">
                            <div class="personal__songs-description-name">best girl</div>
                            <a href="#" class="personal__songs-description-author">internet source</a>
                        </div>
                        <span class="col l-o-3 l-5 c-0 m-0" style="background-color: blueviolet;">
                            gái xinh
                        </span>
                        <div class="col l-o-7 l-4" style="background-color:cadetblue;">1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal__content-item">
            <div class="personnal__content-title"><span class="personnal__content-title-text">danh sách</span></div>
        </div>
    </div>
</div>