:root {
  //setcolor
  --app-bg: hsl(221, 59%, 15%);
  --navmenu-bg: rgb(41, 41, 41);
  --navmenu-tab-color: rgb(255, 255, 255);
  --navmenu-tab-active-bg: rgb(63, 63, 63);
  --navmenu-tab-active-select: rgb(138, 43, 226);
  //set size
  --navmenu-w: 240px;
  --navmenu-h: 100vh;

  --header-h: 60px;

  --controlMusic-h: 80px;
}
