.container {
  flex: 1;
  padding-left: 32px;
  padding-right: 32px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-anchor: none !important;
  scroll-snap-stop: normal !important;
  overscroll-behavior: unset !important;
  overflow: hidden overlay;
  height: 100vh;
}
.content {
  width: 100%;
  background-color: red;
  height: 2000px;
}

.content.content--active {
  display: flex;
}
