.navmenu {
  z-index: 99;
  position: relative;
  height: var(--navmenu-h);
  width: var(--navmenu-w);
  // background-color: var(--navmenu-bg);
  background-color: rgb(28, 42, 73);
  color: var(--navmenu-tab-color);
  display: flex;
  flex-direction: column;
}
.navmenu__tab {
  color: inherit;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 18px;
  text-decoration: none;
  padding-left: 24px;
  transition: width 0.4s ease;
}
.navmenu__tab--active {
  background-color: var(--navmenu-tab-active-bg);
  // box-shadow: 0px 0px 4px 0px #888888;
  transition: background-color 0.6s ease;
}
.navmenu__tab-icon {
  width: 22px;
  text-align: center;
  margin-right: 10px;
}
.navmenu__tab-text {
  font-size: 14px;
  text-transform: capitalize;
}
.navmenu__tab-select {
  position: absolute;
  width: 2px;
  height: 32px;
  outline: none;
  background-color: var(--navmenu-tab-active-select);
  left: 0;
  top: 0;
  transition: all 0.2s ease;
}
