// pc low

@media (min-width: 740px) and (max-width: 1023px) {
  :root {
    --navmenu-w: 56px !important;
  }
  // css navmenu

  .navmenu__tab-text {
    display: none;
  }

  .navmenu__tab,
  .navmenu__tab-icon {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .navmenu__tab,
  .navmenu__tab-select {
    height: 42px;
  }

  // end css navmenu
  //css header
  .header__myseft-item.reFix {
    display: none;
  }
  .header__search {
    width: 85%;
  }
  .header__navigate {
    display: none;
  }
  //end css header
  //css control music

  // end css control music
}

//fix
@media (max-width: 1280px) {
  .controlmusic__custom {
    visibility: hidden;
  }
  .controlmusic__custom.controlmusic__custom--show {
    display: flex;
    background-color: rgba(39, 71, 176, 0.57);
    height: 50px;
    width: 300px;
    justify-content: center;
    top: -63%;
    right: 0;
    visibility: visible;
    animation: controlmusicCustomVisible 0.8s ease;
  }
  @keyframes controlmusicCustomVisible {
    from {
      top: 100%;
    }
    to {
      top: -63%;
    }
  }
  .controlmusic__custom-toggle {
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    height: 32px;
    width: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
  }
  .controlmusic__custom-toggle:hover {
    background-color: blueviolet;
  }
  .controlmusic__current-timesong {
    z-index: 99;
    right: 56px;
  }
}

// tablet or smartphone
@media (max-width: 739px) {
  :root {
    --navmenu-w: 100% !important;
    --navmenu-h: 40px !important;

    --controlMusic-h: 50px !important;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  //header
  .header {
    width: 100%;
    right: 0;
  }
  .header__myseft-item.reFix {
    display: none;
  }
  .header__search {
    margin-left: 16px;
    padding: 0;
    border-radius: 8px;
  }
  .header__navigate {
    display: none;
  }

  //end header
  //navmenu

  .navmenu {
    position: fixed;
    flex-direction: row;
    top: calc(100vh - var(--navmenu-h));
    bottom: 0;
  }
  .navmenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navmenu li {
    height: 100%;
    display: block;
    flex: 0 0 12%;
  }
  .navmenu__tab {
    font-size: 14px;
    padding: 0;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  .navmenu__logo {
    display: none;
  }
  .navmenu__tab-icon {
    margin: 0;
  }
  .navmenu__tab-text {
    display: none;
  }
  .navmenu__tab-select {
    display: none;
  }

  // end navmenu

  //controlmusic
  .controlmusic {
    right: 0;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    top: calc(100vh - var(--controlMusic-h) - var(--navmenu-h));
  }
  .controlmusic__currentsong-img {
    max-height: 40px;
    max-width: 40px;
  }
  .controlmusic__currentsong .controlmusic__currentsong-songname {
    font-size: 14px;
  }
  .controlmusic__currentsong .controlmusic__currentsong-author {
    font-size: 12px;
  }
  .controlmusic__btnbox {
    right: 24px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    justify-content: space-around;
  }
  .controlmusic__btnbox-item {
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: auto;
    width: auto;

    // background-color: turquoise;
    // background-color: transparent;
  }

  .controlmusic__btnbox-item.hover:hover {
    background-color: transparent;
  }
  .controlmusic__btnbox-item-play {
    font-size: 24px;
  }
  .controlmusic__progress input[type="range"] {
    width: 98%;
  }
  .controlmusic__current-timesong {
    display: none;
  }
  .controlmusic__custom.controlmusic__custom--show {
    height: 32px;
  }
  .controlmusic__custom {
    width: auto;
  }
  .controlmusic__custom-item {
    font-size: 14px;
  }
  .controlmusic__custom-item:hover {
    background-color: transparent;
  }
  @keyframes controlmusicCustomVisible {
    from {
      top: 100%;
    }
    to {
      top: -63%;
    }
  }
  //end controlmusic
}
